<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="stylesheets/style.css">
   <title><%= title %></title>
</head>
<body>
   <h1><%= title %></h1>
   <ul><% skills.forEach((skill, index) => { %>
      <li>
         <form action="/skills/<%= index %>?_method=DELETE" class="delete-form" method="POST">
            <button type="submit">X</button>
         </form>
         <a href="/skills/<%= index %>"><%= skill.skill %></a>   
      </li>
      <% }) %>

   </ul>
</body>
</html>