<%- include('../partials/header') %>
   <h1>Flight from: <%= flight.from %> To <%= flight.to %></h1>
   <table class="table">
      <thead>
         <tr class="columns">
            <th>Airport</th>
            <th>Air Line</th>
            <th>Flight No</th>
            <th>Gate</th>
            <th>From</th>
            <th>To</th>
            <th>Departs</th>
            <th>Status</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td><%= flight.airport      %></td>
            <td><%= flight.airLine      %></td>
            <td><%= flight.flightNo     %></td>
            <td><%= flight.gate         %></td>
            <td><%= flight.from         %></td>
            <td><%= flight.to           %></td>
            <td><%= flight.departs      %></td>
            <td><%= flight.status       %></td>
         </tr>
      </tbody>
   </table>
   <form action="/flights/<%= flight._id %>/arrivals" method="POST">
      <label>Arrival Airport
         <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DAL">DAL</option>
            <option value="LAX">LAX</option>
            <option value="SEA">SEA</option>
         </select>
      </label>
      <label>Arrival Date:
         <input type="date" name="arrivalDate" autocomplete="off">
      </label>
      <label>Arrival Time:
         <input type="time" name="arrivalTime" autocomplete="off">
      </label>
      <input type="submit" class="btn btn-success" value="Confirm Settings">
      <input type="button" class="btn btn-danger" onclick="location.href='/flights'" value="Cancel">
   </form>
   <table class="table">
      <thead>
         <tr class="columns arrival">
            <th>Destination Airport</th>
            <th>Arrival Date & Time</th>
         </tr>
      </thead>
      <tbody>
         <% flight.destination.forEach( function(arrival) { %>
            <tr>
               <td><%= arrival.airport  %></td>
               <td><%= arrival.arrival  %></td>
            </tr>
         <% }) %>
      </tbody>
   </table>
<%- include('../partials/footer') %>
