<%- include('../partials/header') %>
<main class="other-main">
   <h1><%= title %></h1>
   <form action="/flights/<%= originFlightId %>/<%= destinationFlightId %>/seats" method="POST">
      <label>Seat:
         <input name="seat" required pattern="[A-F][1-9]\d?">
      </label>
      <label>Price:
         <input name="price" required>
      </label><br>
      <input type="submit" class="btn btn-success" value="Add Seat">   <input type="button" class="btn btn-danger" onclick="location.href='/flights/<%= originFlightId %>'" value="Cancel">
   </form>
   <table class="table">
      <thead>
         <tr class="columns">
            <th>Seat</th>
            <th>Price</th>
         </tr>
      </thead>
      <tbody>
         <% if (tickets) { %>
            <% tickets.forEach( function(ticket) { %>
               <form action="/flights/<%= originFlightId %>/<%= destinationFlightId %>/seats/<%= ticket.id %>?_method=DELETE" method="POST">
                  <tr>
                     <td><%= ticket.seat %> <input type="submit" class="delete" value="Delete"></td>
                     <td>$<%= ticket.price %>,00</td>
                  </tr>
               </form>
               <% }) %>
            <% } %>
      </tbody>
   </table>
</main>
<%- include('../partials/footer') %>