<%- include('../partials/header') %>
<main class="other-main">
   <h1><%= title %></h1>
   <table class="table">
      <thead>
         <tr class="columns">
            <th>Seat</th>
            <th>Price</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <% if (tickets) { %>
               <% tickets.forEach( function(ticket) { %>
                  <td><%= ticket.seat %> (delete)</td>
                  <td><%= ticket.price %></td>
               <% }) %>
            <% } %>
         </tr>
      </tbody>
   </table>
   <form action="/flights/<%= destinationFlightId %>/seats" method="POST">
      <label>Seat:
         <input name="seat" required pattern="[A-F][1-9]\d?">
      </label>
      <label>Price:
         <input name="price">
      </label><br>
      <input type="submit" class="btn btn-success" value="Add Seat"><input type="button" class="btn btn-danger" onclick="location.href='/flights/<%= originFlightId %>'" value="Cancel">
   </form>
</main>
<%- include('../partials/footer') %>